body {
        header,
        h2 {
          text-align: center;
          padding-top: 1em;
        }
        h2 {
            font-family: 'lato' sans-serif;
            color: #2a2a2a;
            text-transform: uppercase;
            padding: 0 0 2em 0;
           }



    .form {
      text-align: center;


       input[type="text"] {
         margin-bottom: 1em;
         font-size: 24px;
         padding: 10px;
       }

       input[type="submit"]{
         display: block;
         font-size: 14px;
         padding: 5px;
         background-color: pink;
         text-align: center;
         margin-left: 43%;
       }

       input[type="checkbox"] {
         background-color: aqua;

       }

        input[type="checkbox"]:checked{

        }

    .memo {
        padding-left: 35%;
        display: inline-block;
        padding-top: 2em;

        ul {
           list-style: none;
         }



      }

}
}
