*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * Layouts
 */
.container {
  width: 100%;
  max-width: 960px;
  margin: 3em auto;
}

.row:before,
.row:after {
  display: table;
  content: '';
  clear: both;
}

[class^='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 0 1em;
}

@media screen and (min-width: 600px) {
  .col-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-3 {
    width: 25%;
  }
}

@media screen and (min-width: 600px) {
  .col-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-6 {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .col-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-9 {
    width: 75%;
  }
}

@media screen and (min-width: 600px) {
  .col-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 600px) {
  .col-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 600px) {
  .col-12 {
    width: 100%;
  }
}

.grid-example {
  margin-bottom: 50px;
}

.column, .columns {
  border-radius: .5em;
  margin-left: 4%;
  float: left;
}

.column:first-child, .columns:first-child {
  margin-left: 0;
}

.col-1 {
  width: 4.66666666667%;
}

.col-2 {
  width: 13.3333333333%;
}

.col-3 {
  width: 22%;
}

.col-4 {
  width: 30.6666666667%;
}

.col-5 {
  width: 39.3333333333%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56.6666666667%;
}

.col-8 {
  width: 65.3333333333%;
}

.col-9 {
  width: 74%;
}

.col-10 {
  width: 82.6666666667%;
}

.col-11 {
  width: 91.3333333333%;
}

.info {
  margin: 1em;
}

h1 {
  font-family: "Baskerville", Georgia, Palatino, serif;
  font-weight: 400;
  font-size: 2.61792em;
  position: fixed;
  color: #fff;
  padding: .5em;
}

.trigger-pads {
  background-color: #00CC55;
  list-style: none;
  padding: 5em 0.5em 0;
  height: 100%;
}

.trigger-pads:before,
.trigger-pads:after {
  display: table;
  content: '';
  clear: both;
}

li {
  float: left;
  height: 25%;
  width: 25%;
  padding: 0.5em;
}

.back {
  background-color: #0D9847;
  padding: 1em;
  margin: auto 3em;
}

.row {
  background-color: #11AF53;
}

.pad {
  width: 100%;
  min-height: 10em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid cyan;
  border-radius: 3px;
  -webkit-transition: background-color 0.05s ease;
          transition: background-color 0.05s ease;
}

.pad:active {
  background-color: cyan;
}

.pad:focus {
  outline: none;
  -webkit-animation: fadeInOut 0.25s ease;
          animation: fadeInOut 0.25s ease;
}

.pad-1:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-2:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-3:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-4:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-5:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-6:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-7:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-8:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-9:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-10:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-11:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-12:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-13:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-14:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-15:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

.pad-16:focus {
  -webkit-animation: pad-1-animation 0.25s ease;
          animation: pad-1-animation 0.25s ease;
}

@-webkit-keyframes pad-1-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-1-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-2-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-2-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-3-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-3-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-4-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-4-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-5-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-5-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-6-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-6-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-7-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-7-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-8-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-8-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-9-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-9-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-10-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-10-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-11-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-11-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-12-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-12-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-13-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-13-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-14-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-14-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-15-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-15-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@-webkit-keyframes pad-16-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

@keyframes pad-16-animation {
  0% {
    background-color: rgba(0, 255, 255, 0);
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
  }
}

/*# sourceMappingURL=style.css.map */