form {
  width: 100%;

  input,
  textarea{
    display: block;
    width: 100%;
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
  -webkit-appearance: none;
  appearance: none;

  &:focus,
  &:active {
    outline: 0;
  }
}



input[type="text"] {
  border: 1px solid white;
  font-size: 22px;
  height: 60px;
  background: #000;
  opacity: .1;
}

::-webkit-input-placeholder  {
  font-size: 18px;
  line-height: 20px;
  height: 60px;
  padding-left: 15px;
  padding-top: 3px;
}


input[type="checkbox"] {
  border: 1px solid #B7F6FF;
 border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: auto 0;
color: #0B6E7C;
  &:checked {
    position: relative;
    background: transparent;

    &::after {
      margin: 0;
      padding: 0;

      content: '\2713';
      font-size: 25px;
      display: block;
      color: #FFC3C3;
      position: absolute;
      top: -1px;
      left: 1px;
      width: 100%;
      height: 100%;
    }
  }
}
