.list {
  li {
    list-style-type: none;
  }
}

input[type="checkbox"],
  [type="text"],
  [type="submit"],
  [type="button"]:focus {
  outline: 0;
}

input[type="checkbox"] {
  background-color: #fff;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  padding: .65em;
  border: 1px solid #333;
  border-radius: 100%;
}

input[type="checkbox"]:checked {
  background-color: #c0c0c0;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 100%;
}



input:checked + .item-title {
  font-weight: 100;
  text-decoration: line-through;
  color: #ccc;
}

input:checked + .item-title + button {
  font-weight: 100;
  color: #000;
  visibility: visible;
}

form.new-item-form {
    width: 100%;
    text-align: center;
}

input[type="text"] {
  font-family: sans-serif;
  font-weight: 100;
  width: 50%;
  height: 20px;
  border-radius: 5px;
}

input[type="submit"] {
  width: 20%;
  @include button-style;
}

input[type="checkbox"],
  [type="submit"],
  [type="button"]:hover{
    cursor:pointer;
  }

input[type="submit"]:hover {
  background-color: #D8D8D8;
}

li.item {
  padding: 2% 15%;
  font-family: $sans-serif;
  text-align: left;

  @media screen and (min-width: 500px){
    padding: 0 15%;
  }
}

span.item-title {
  padding: 0 .5em;
  max-width: 290px;
  position: relative;
  font-size: $base-font;
  line-height: 0;
}
