
form {
}

  input.item-checkbox {
    display: block;
    width: 100%;
    background-color: rgb(0, 255, 0)
    }

  input.item-checkbox:checked + .item-title {
    background-color: rgb(255, 0,0);
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0);
  }
