html{
    text-align: center;
    background: url('images/star-wars1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
  margin-top: 1em;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 1em 2em 1em;

  @media screen and (min-width: 500px){
    font-size: type-scale(1);
    max-width: 750px;
  }
}
