*,
*::before
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin cf {
  &:before,
  &:after {
      display: table;
      content: '';
      clear: both;
    }
}



.trigger-pads{
  list-style: none;
  padding: 2em, 2em;
  height: 100%;
  @include cf;
}

.pads {
  margin: 8em;
}

li {
  float:left;
  width: 25%;
}

.pad{
  color: #ffffff;
  height: 200px;
  width: 100%;
  appearance: none;
  background-color: #000000;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 8px;
}



// @keyframes fadeInOut{
//   0%    {background-color: rgba(255, 0, 255, 0);}
//   50%   {background-color: rgba(255, 0, 1, 0);}
//   100%  {background-color: rgba(255, 0, 255, 0);}
// }
