*,
*::before
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin cf {
  &:before,
  &:after {
      display: table;
      content: '';
      clear: both;
    }
}

@import url(https://fonts.googleapis.com/css?family=Frijole);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
// @import url(https://fonts.googleapis.com/css?family=Slackey);
// @import url(https://fonts.googleapis.com/css?family=Monoton);
// @import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
// @import url(https://fonts.googleapis.com/css?family=Lobster);
// @import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700);
// @import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  color: #ffffff;
  background-color: #000000;
}

.container {
  width: 940px;
  margin: auto;
}

h1 {
  font-family: 'Frijole', cursive;
  text-align: center;
  padding: 2em;
  font-size: 3em;
}

h2 {
  font-family: 'Poiret One', cursive;
  text-align: right;
  font-size: 2em;
  margin-bottom: 1em;
}

.machineframe {
  background-color: #333333;
  padding: 2em;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 30px;
}

.trigger-pads {
  list-style: none;
  padding: 2em, 2em;
  height: 100%;
  @include cf;
}

li {
  float:left;
  width: 25%;
  padding: 0.5em;
}

.pad-1, .pad-2, .pad-3, .pad-4 {
  border: 6px solid rgb(255, 51, 0);
}

.pad-5, .pad-6, .pad-7, .pad-8 {
  border: 6px solid rgb(255, 153, 0);
}

.pad-9, .pad-10, .pad-11, .pad-12 {
  border: 6px solid rgb(255, 255, 102);
}

.pad-13, .pad-14, .pad-15, .pad-16 {
  border: 6px solid rgb(204, 0, 255);
}

.pad-1, .pad-2, .pad-3, .pad-4, .pad-5, .pad-6, .pad-7, .pad-8, .pad-9, .pad-10, .pad-11, .pad-12, .pad-13, .pad-14, .pad-15, .pad-16 {
  background-color: #ffffff;
  color: #000000;
  height: 200px;
  width: 100%;
  outline: none;
  //appearance: none;
  border-radius: 30px;
}

button.pad-1:hover, button.pad-2:hover, button.pad-3:hover, button.pad-4:hover {
  background-color: #ff3300;
}

button.pad-5:hover, button.pad-6:hover, button.pad-7:hover, button.pad-8:hover {
  background-color: #ff9900;
}

button.pad-9:hover, button.pad-10:hover, button.pad-11:hover, button.pad-12:hover {
  background-color: #ffff66;
}

button.pad-13:hover, button.pad-14:hover, button.pad-15:hover, button.pad-16:hover {
  background-color: #cc00ff;
}

@keyframes fadeInOut{
  0%    {background-color: rgba(255, 0, 255, 0);}
  50%   {background-color: rgba(255, 0, 1, 0);}
  100%  {background-color: rgba(255, 0, 255, 0);}
}
