.list {
  li {
    list-style-type: none;
  }
}
input[type="checkbox"],
  [type="text"],
  [type="submit"],
  [type="button"]:focus {
  color: white;
  outline: 0;
  padding: 1em 2em;
  background-color: black;

}
input[type="checkbox"] {
  background-color: purple;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  padding: .4em;
  border: none;
  border-radius: 100%;
}

input[type="checkbox"]:checked {
  background-color: #a3ffff;
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 100%;
}

input:checked + .item-title {
  text-decoration: line-through;
  color: #66afaf;
  letter-spacing: 2px;
  text-shadow: 0 0 2em #a3ffff;
}
input:checked + .item-title + button {
  font-weight: 100;
  color: #000;
  visibility: visible;
}

form.new-item-form {
    width: 100%;
    text-align: center;
}

input[type="text"] {
  margin-top: 3em;
  font-family: $sans-serif;
  font-weight: 400;
  font-size: type-scale(-2);
  letter-spacing: 1px;
  width: 50%;
  height: 20px;
  border-radius: 5px;
}

input[type="submit"] {
  width: 20%;
  @include button-style;
}

input[type="checkbox"],
  [type="submit"],
  [type="button"]
  :hover{
  cursor:pointer;
  }

input[type="submit"]:hover {
  background-color: #B407B4;
  border: 1px solid #FA31FA;
  box-shadow: 0px 0px 20px #FA31FA;
}
li.item {
  padding: 0.1em;
  font-family: $sans-serif;
  text-align: left;
  color: #d9fcfc;
  letter-spacing: 2px;
  text-shadow: 0 0 0.2em #a3ffff;

  @media screen and (min-width: 500px){
    padding: 0 15%;
  }
}

span.item-title {
  padding: 0 .5em;
  max-width: 300px;
  position: relative;
  font-size: $base-font;
  line-height: 0;
}
