html {
  font-size: $base-font;
}
body{
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  font-size: type-scale(1);
  line-height: $line-height;
  font-family: $sans-serif;
  color: #686666;

  @media screen and (min-width: 500px){
    font-size: type-scale(1);
  }
}
h1,
h2,
h3,
h4 {
  text-align: $center;
  font-family: $sans-serif;
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: type-scale(2);
}

h2 {
  font-size: type-scale(1);
}

h3 {
  font-size: type-scale(0);
}

h4 {
  font-size: type-scale(0);
  font-weight: 400;
}
